<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<package name="com.tasty.vo"/>
	</typeAliases>


	<mappers>
		<mapper resource="com/tasty/config/mybatis/mapper/ReviewMapper.xml" />
		<mapper resource="com/tasty/config/mybatis/mapper/TasteMapper.xml"/>
		<mapper resource="com/tasty/config/mybatis/mapper/memberMapper.xml"/>
		<mapper resource="com/tasty/config/mybatis/mapper/MissionMapper.xml"/>
		<mapper resource="com/tasty/config/mybatis/mapper/RouteMapper.xml"/>
		<mapper resource="com/tasty/config/mybatis/mapper/PhotoMapper.xml"/>
  		<mapper resource="com/tasty/config/mybatis/mapper/MissionCertMapper.xml"/> 
	</mappers>
</configuration>