<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tasty.config.mybatis.mapper.memberMapper">

	
<!-- 	<sql id="select-sql">
		select	email,
				password,
				nickname,
				name,
				phone_num,
				gender,
				total_ups,
				totas_downs,
				member_cert
		from	member
	</sql>
	-->

<!-- 	<sql id="select-join-memberTaste-sql">
		select	m.email,
				m.password,
				m.nickname,
				m.name,
				m.phone_num,
				m.gender,
				m.total_ups,
				m.total_downs,
				mbt. taste_num
		from	member m, member_taste mbt, taste t
		where	m.email = mbt.email
		and		mbt.taste_num = t.taste_num(+)
	</sql>
	 -->
<!--	<sql id="select-join-taste-sql">
		select	mt.email,
				mbt. taste_num,
				t.taste_num,
				t. taste_name
		from	member_taste mbt, taste t
		where	t.taste_num = mbt.taste_num
	</sql> -->
	
	   <sql id="authority-select-sql">
      SELECT  email, authority
      FROM   authority
   </sql>
	
	
	<resultMap type="member" id="member-resultmap">
		<id column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="name" property="name"/>
		<result column="phone_num" property="phoneNum"/>
		<result column="gender" property="gender"/>
		<result column="total_ups" property="totalUps"/>
		<result column="total_downs" property="totalDowns"/>
		<result column="member_cert" property="memberCert"/>
	</resultMap>
	
	<resultMap type="memberTaste" id="memberTaste-resultmap">
		<result column="email" property="email"/>
		<result column="taste_num" property="tasteNum"/>
	</resultMap>
	
	<resultMap type="taste" id="taste-resultmap">
		<id column="taste_num" property="tasteNum"/>
		<result column="taste_name" property="tasteName"/>
	</resultMap>
	
	<resultMap id="authority-resultmap" type="authority">
      <id column="email" property="email"/>
      <result column="authority" property="authority"/>
   </resultMap>
	
	<resultMap type="memberTaste" id="memberTaste-join-member-resultmap" extends="memberTaste-resultmap">
		<association property="member" javaType="member">
			<id column="email" property="email"/>
			<result column="password" property="password"/>
			<result column="nickname" property="nickname"/>
			<result column="name" property="name"/>
			<result column="phone_num" property="phoneNum"/>
			<result column="gender" property="gender"/>
			<result column="total_ups" property="totalUps"/>
			<result column="total_downs" property="totalDowns"/>
			<result column="member_cert" property="memberCert"/>
		</association>
	</resultMap>
	
	<resultMap type="memberTaste" id="memberTaste-join-taste-resultmap" extends="memberTaste-resultmap">
		<collection ofType="taste" property="tasteList">
			<id column="taste_num" property="tasteNum"/>
			<result column="taste_name" property="tasteName"/>
		</collection>			
	</resultMap>
	
	<resultMap type="member" id="member-join-memberTaste-resultmap" extends="member-resultmap">
		<collection property="memberTasteList" ofType="MemberTaste">
			<result column="email" property="email"/>
			<result column="taste_num" property="tasteNum"/>
			<collection property="tasteList" ofType="Taste">
				<id column="taste_num" property="tasteNum"/>
				<result column="taste_name" property="tasteName"/>
			</collection>
		</collection>
</resultMap>

	<!-- 삽입 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER(email, password, nickname, name, phone_num, gender, total_ups, total_downs, member_cert) VALUES  
									(#{email},
									#{password},
									#{nickname}, 
									#{name},
									#{phoneNum},
									#{gender},
									0,
									0,
									1)
	</insert>
	
	<insert id="insertMemberTaste" parameterType="memberTaste">
		INSERT INTO MEMBER_TASTE(email, taste_num) VALUES (#{email}, #{tasteNum})
	</insert>
	
	<insert id="insertAuthority" parameterType="authority">
		insert into authority values (#{email}, #{authority})
	</insert>

	<!-- 탈퇴 (비인증) -->
	<delete id="deleteAuthorityByEmail" parameterType="string">
		delete from authority where email = #{value}
	</delete>

	<!-- 삭제 -->
	<delete id="deleteMemberByEmail" parameterType="string" >
		 delete from member where email = #{value} 
<!-- 		delete from member_taste where email = #{value}
			and authority.email = #{value}
			and member.email = #{value}  -->
	</delete>
	
	<!-- 수정 -->
	<update id="updateMemberByEmail" parameterType="member">
		update	member
		set		password = #{password},
				nickname = #{nickname},
				name = #{name}, 
				phone_num = #{phoneNum},
				gender = #{gender} 
		where	email = #{email}
	</update>
	
	<delete id="deleteMemberTasteByEmail" parameterType="string">
		delete from member_taste where email = #{value}
	</delete>
	
	<update id="updateMemberTasteByEmail" parameterType="memberTaste">
		update	memberTaste
		set		taste_num=#{tasteNum}
		where	email = #{email}
	</update>

	<!-- 조회 -->
	<select id="selectMemberByEmail" parameterType="string" resultMap="member-join-memberTaste-resultmap">
		 		
		<!-- <include refid="select-join-memberTaste-sql"/>
		where email = #{value}  -->
		
		select * from member
		where email = #{value}
		and member_cert = 1
	</select>
	
	   <!-- 사용자 ID로 그 사용자의 권한 조회 -->
   <select id="selectAuthorityByEmail" parameterType="string" resultMap="authority-resultmap">
      <include refid="authority-select-sql"/>
      WHERE email = #{value}
   </select>
   
   
   <update id="updateMemberUps" parameterType="string">
    UPDATE member 
    set total_ups = total_ups + 1 
    where email= #{value}
   </update>
   
   <update id="updateMemberDowns" parameterType="string">
    update member 
    set total_downs = total_downs + 1 
    where email = #{value}
   </update>
	
</mapper>





