<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tasty.config.mybatis.mapper.MissionMapper">
	<!-- 
		MissionAdmin관련 mapper
		+ 관리자가 미션을 등록
		+ 관리자가 미션을 삭제
		+ 관리자가 미션을 수정
		+ 관리자가 미션을 조회
	 -->
	 
	 <sql id="mission-column-sql">
	 	mission_name, mission_name, misison_content, current_people, max_people, start_date, end_date
	 </sql>
	 
	 <sql id="missionCert-column-sql">
	 	mission_cert_num, email, title, content, missionNum
	 </sql>

	<sql id="mission-select-sql">
		SELECT <include refid="mission-column-sql"/>
		FROM mission_admin
	</sql>
	
	<sql id="missionCert-select-sql">
		SELECT <include refid="missionCert-column-sql"/>
		FROM mission_cert_board
	</sql>
	
	<resultMap type="mission" id="mission-resultmap">
		<id column="mission_num" property="missionNum"/>
		<result column="mission_name" property="missionName"/>
		<result column="mission_content" property="missionContent"/>
		<result column="current_people" property="currentPeople"/>
		<result column="max_people" property="maxPeople"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
	</resultMap>
	
	<resultMap type="missionMember" id="missionMember-resultmap">
		<id column="email" property="email"/>
		<id column="mission_num" property="missionNum"/>
	</resultMap>
	
	<resultMap type="mission" id="mission-join-photo-resultmap" extends="mission-resultmap">
			<collection property="missionPhotoList" ofType="missionPhoto">
				<result column="photo_num" property="photoNum"/>
				<result column="mission_num" property="missionNum"/>
				
				<collection property="photoList" ofType="photo">
					<id column="photo_num" property="photoNum"/>
					<result column="photo_path" property="photoPath"/>
				</collection>
			</collection>
	</resultMap>
	
	
	
<!-- <resultMap type="mission" id="mission-join-photo-resultmap" extends="mission-resultmap">
	<collection property="missionPhotoList" ofType="missionPhoto">
		<result column="photo_num" property="photoNum"/>
		<result column="mission_num" property="missionNum"/>
		<collection property="photoList" ofType="photo">
				<id column="photo_num" property="photoNum"/>
				<result column="photo_path" property="photoPath"/>
		</collection>
	</collection>
</resultMap> -->
	
	
	
	
	


	<select id="selectAllMission2" resultMap="mission-join-photo-resultmap">
		select * from MISSION_ADMIN, MISSION_PHOTO
		where MISSION_ADMIN.MISSION_NUM = MISSION_PHOTO.MISSION_NUM
	</select>
	
	<select id="selectAllMission" resultMap="mission-resultmap">
		select * from MISSION_ADMIN
	</select>

	
	<!-- 미션 등록  -->
	<insert id="insertMission" parameterType="mission">
		INSERT INTO mission_admin (mission_num, mission_name,
			 mission_content,
			 current_people,
			 max_people,
			 start_date,
			 end_date)
		VALUES (
		mission_admin_seq.nextval,
				#{missionName},
				#{missionContent},
				0,
				#{maxPeople},
				#{startDate},
				#{endDate})
	</insert>
	
	<!-- 미션 수정 -->
	<update id="updateMissionByMissionNum" parameterType="mission">
		UPDATE MISSION_ADMIN
		SET  mission_name = #{missionName},
			 mission_content = #{missionContent},
			 current_people = #{currentPeople},
			 max_people = #{maxPeople},
			 start_date = #{startDate},
			 end_date =  #{endDate}
		WHERE mission_num = #{missionNum}  
	</update>	
	
	<!-- 미션번호로 해당 미션 삭제 -->
	<delete id="deleteMissionByMissionNum">
			delete from mission_admin where mission_num = #{value}
	</delete>
	
	<!-- 미션 이름으로 미션 검색 -->
	<select id="selectMissionByMissionName" resultMap="mission-resultmap">
		select * 
		from mission_admin
		WHERE mission_name LIKE '%'||#{value}||'%'
	</select>
	
	
<!-- 	<select id="selectMissionByMissionNum" resultMap="mission-resultmap">
		select * from mission_admin
		where mission_num=#{value}
	</select> -->
	
	 <!--   멤버가 미션 참여하기를 누르면 current_people 을 +1 하고, 
	 		mission_member에 현재 로그인되어있는 아이디와, 현재 들어가있는 미션번호 값들을 삽입한다. -->
	<update id="updateCurrentPeople" parameterType="mission">
		UPDATE mission_admin
		SET current_people = current_people+1
		WHERE MISSION_NUM = #{value}
	</update>
	
	<insert id="insertMissionMember" parameterType="missionMember">
		insert into mission_member(mission_num,email)
		values (#{missionNum},#{email})
	</insert>
	
	<!-- 미션정보 조회 (+사진) -->
	 <select id="selectMissionByMissionNum" parameterType="int" resultMap="mission-join-photo-resultmap">
		select * 
		from mission_admin ma, mission_photo mp, photo p
		where ma.mission_num = #{value}
		and mp.photo_num = p.photo_num
		order by p.photo_num asc  
	</select>
	


	
	

</mapper>
